<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Quiz</title>
        <meta http-equiv="content-type" charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
      <div id="app" class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              QuiZ
            </a>
          </div>
        </nav>

        <div class="card text-dark bg-light m-3" >
          <div class="card-header">Info</div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">UPLOAD API: {{ upload_api }}</p>
            <p class="card-text">CONNECTION ID: {{ connection_id }}</p>
          </div>
        </div>

        <div id="canvas-area" style="margin-left: auto; margin-right: auto; width: 1024px;">
          <answer-area></answer-area>
          <div style="width: 1024px; margin-top: -10px"><h2 class="text-center text-light" style="background-color: #214fe9;">{{ name }}</h2></div>
        </div>

        <div class="text-center m-4">
          <button class="btn btn-primary btn-lg" @click="submit">SUBMIT</button>
          <button id="clear-button" class="btn btn-danger btn-lg" @click="clear">CLEAR</button>
        </div>

        
        <div v-if="img">
          <div class="card text-dark bg-light mb-3" style="margin-left: auto; margin-right: auto; width: 1024px;">
            <div class="card-header">Answer Preview</div>
            <div class="card-body">
              <img v-bind:src=img width="208" height="154" style="background-color: #214fe9; margin: 0px">
            </div>
          </div>
        </div>
        
        <div class="alert alert-secondary" role="alert" v-if="message">
          {{ message }}
        </div>

        
        
        <div class="m-1"> 
          WebSocket URL : <input type="text" id="websocketurl">
          Name : <input type="text" id="answerer-name">
          <button @click="connect">CONNECT</button>
          <button @click="disconnect">DISCONNECT</button>
        </div>
        <div id="debug_console" class="m-1 text-white bg-dark overflow-auto" style="height: 150px">
          <p class="small m-0" v-for="item in debugmessages">{{ item }}</p>
        </div>

      </div>
      <script src="main.js"></script>
    </body>
</html>
